<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pixca - InstaClone</title>
</head>
<div>
  <a href="/"><h1>Pixca</h1></a>
  <div>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'create_post' %}">Upload</a>
    <a href="{% url 'logout-view' %}">Logout ({{request.user.username}})</a>
  </div>
  <hr>
</div>
<body>
  {% block content %}

  {% endblock %}
</body>
</html>