{% extends 'base.html' %}
{% block content %}
<div>
  <h1>Welcome to for now complete your registration{{request.user}}</h1>
  
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text"  name="name" placeholder="Full name"><br><br>
    <textarea name="bio"  cols="50" rows="10" placeholder="Bio"></textarea><br><br>
    <input type="text" name="location" placeholder="Location"><br><br>
    <input type="file" name="profile_img">
    <button type="submit">Register</button>
  </form>
</div>
{% endblock %}